In [1]:
import os
os.getcwd()

'C:\\Windows\\system32\\1033\\MALARIA EDA'

In [2]:
#Getting interaction between the Operating System and pproject file directory on the pc to jupyter lab
os.chdir('C:\\Windows\\system32\\1033\\MALARIA EDA')

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
# Returns a list of pathnames(Files) matching provided string 
import glob
glob.glob("C:\\Windows\\System32\\1033\\MALARIA EDA/Malaria data/*.csv")

['C:\\Windows\\System32\\1033\\MALARIA EDA/Malaria data\\Malaria data 2020.csv',
 'C:\\Windows\\System32\\1033\\MALARIA EDA/Malaria data\\Malaria data 2021.csv',
 'C:\\Windows\\System32\\1033\\MALARIA EDA/Malaria data\\Malaria data 2022.csv',
 'C:\\Windows\\System32\\1033\\MALARIA EDA/Malaria data\\Malaria data 2023.csv',
 'C:\\Windows\\System32\\1033\\MALARIA EDA/Malaria data\\Malaria data 2024.csv']

### Merging All Spatial stat files and Adding A Year Column

In [11]:
import glob 
import pandas as pd
import os # for path functions


def clean_columns(df):
    df.columns = df.columns.str.strip() #Removing White spaces from columns
    df.columns = df.columns.str.replace(r"\s+", " ", regex=True) #normalize multiple spaces to one
    return df 

# Collect all CSV
all_files = glob.glob("C:\\Windows\\System32\\1033\\MALARIA EDA/spatial_stats/*.csv")


dfs = []
for file in all_files:
    df = pd.read_csv(file)
    df = clean_columns(df)
    
    # Extract year from file name (this needs to be inside the loop)
    year = os.path.splitext(os.path.basename(file))[0].split("_")[-1]
    df["Year"] = int(year)
    
    dfs.append(df)  # This also needs to be inside the loop

# Combine into one master DataFrame
spatial_df = pd.concat(dfs, ignore_index=True)

print(spatial_df[["Year"]].head(20))
print(spatial_df.columns.tolist())

    Year
0   2020
1   2020
2   2020
3   2020
4   2020
5   2020
6   2020
7   2020
8   2020
9   2020
10  2020
11  2020
12  2020
13  2020
14  2020
15  2020
16  2020
17  2020
18  2020
19  2020
['dname2019', 'd', 'total2020', 'ttotal2020', '2010', '2016', '2017', '2018', '2020', 'NAME_NORM', 'Region', 'District', '0-28 DAYS FEMALE', '0-28 DAYS MALE', '0-28 DAYS TOTAL', '10-19 YEARS FEMALE', '10-19 YEARS MALE', '10-19YRS TOTAL', '20+ YRS FEMALE', '20+ YRS MALE', '20+ YRS TOTAL', '5-9YRS FEMALE', '5-9YRS MALE', '5-9YRS TOTAL', '29 DAYS-4YRS FEMALE', '29DAYS - 4YRS MALE', '29 DAYS - 4YRS TOTAL', '0-28 DAYS (B/S & RDT) FEMALE', '0-28 DAYS (B/S & RDT) MALE', '0-28 DAYS (B/S & RDT) TOTAL', '10-19 YRS (B/S & RDT) FEMALE', '10-19 YRS (B/S & RDT) MALE', '10-19 YRS (B/S & RDT) TOTAL', '20+ (B/S &RDT) FEMALE', '20+ (B/S & RDT) MALE', '20 + (B/S & RDT) TOTAL', '29DAYS-4YRS (B/S & RDT) FEMALE', '29DAYS-4YRS (B/S & RDT) MALE', '29DAYS-4 YRS (B/S & RDT) TOTAL', '5-9YRS (B/S & RDT) FEMALE', '5-9YRS (B/S & RDT) MALE', '5-9YRS (B/S & RDT) TOTAL', 'TOTAL CASES CONFIRMED(B/S & RDT)', '0-28 DAYS FEMALE CT', '0-28 DAYS MALE CT', '0-28 DAYS TOTAL CT', '10-19 YRS FEMALE CT', '10-19 YRS MALE CT', '10-19 YRS CT TOTAL', '20 + YRS FEMALE CT', '20 + YRS MALE CT', '20 + YRS CT TOTAL', '29DAYS - 4YRS FEMALE CT', '29 DAYS - 4YRS MALE CT', '29 DAYS - 4YRS CT TOTAL', '5-9YRS FEMALE CT', '5-9YRS MALE CT', '5-9YRS CT TOTAL', 'PREG 10-19YRS', 'PREG 20 + YRS', 'TOTAL PREG', 'TOTAL CASES FEMALE', 'TOTAL CASES MALE', 'GRAND TOTAL CASES', '<5YRS FEMALES TOTAL', '<5YRS MALE TOTAL', '< 5YRS GRAND TOTAL', 'AREA(Km2)', 'TOTAL POPULATION', 'POPULATION DENSITY(People per km2)', 'CORDINATES (LATITUDE 째 N)', 'CORDINATES (LONGITUDE 째 E)', 'Incidence_Rate', 'DIST_NORM', 'local_I', 'local_z', 'local_p', 'lisa_q', 'lisa_sig', 'G_z', 'G_p', 'G_hot', 'G_cold', 'Year', '10-19 YRS TOTAL', '29DAYS-4YRS MALE', '10-19 YRS FEMALE (B/S $ RDT )', '20+ (B/S &RDT) MALE']

In [15]:
spatial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 84 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   dname2019                           680 non-null    object
 1   d                                   680 non-null    object
 2   total2020                           680 non-null    object
 3   ttotal2020                          680 non-null    float64
 4   2010                                680 non-null    object
 5   2016                                680 non-null    object
 6   2017                                680 non-null    object
 7   2018                                680 non-null    object
 8   2020                                680 non-null    object
 9   NAME_NORM                           680 non-null    object
 10  Region                              680 non-null    object
 11  District                            680 non-null    object
 12  0-28 DAYS FEMALE                    680 non-null    float64
 13  0-28 DAYS MALE                      680 non-null    float64
 14  0-28 DAYS TOTAL                     680 non-null    float64
 15  10-19 YEARS FEMALE                  680 non-null    float64
 16  10-19 YEARS MALE                    680 non-null    float64
 17  10-19YRS TOTAL                      680 non-null    float64
 18  20+ YRS FEMALE                      680 non-null    float64
 19  20+ YRS MALE                        680 non-null    float64
 20  20+ YRS TOTAL                       680 non-null    float64
 21  5-9YRS FEMALE                       680 non-null    float64
 22  5-9YRS MALE                         680 non-null    float64
 23  5-9YRS TOTAL                        680 non-null    float64
 24  29 DAYS-4YRS FEMALE                 680 non-null    float64
 25  29DAYS - 4YRS MALE                  680 non-null    float64
 26  29 DAYS - 4YRS TOTAL                680 non-null    float64
 27  0-28 DAYS (B/S & RDT) FEMALE        680 non-null    float64
 28  0-28 DAYS (B/S & RDT) MALE          680 non-null    float64
 29  0-28 DAYS (B/S & RDT) TOTAL         680 non-null    float64
 30  10-19 YRS (B/S & RDT) FEMALE        680 non-null    float64
 31  10-19 YRS (B/S & RDT) MALE          680 non-null    float64
 32  10-19 YRS (B/S & RDT) TOTAL         680 non-null    float64
 33  20+ (B/S &RDT) FEMALE               680 non-null    float64
 34  20+ (B/S & RDT) MALE                680 non-null    float64
 35  20 + (B/S & RDT) TOTAL              680 non-null    float64
 36  29DAYS-4YRS (B/S & RDT) FEMALE      680 non-null    float64
 37  29DAYS-4YRS (B/S & RDT) MALE        680 non-null    float64
 38  29DAYS-4 YRS (B/S & RDT) TOTAL      680 non-null    float64
 39  5-9YRS (B/S & RDT) FEMALE           680 non-null    float64
 40  5-9YRS (B/S & RDT) MALE             680 non-null    float64
 41  5-9YRS (B/S & RDT) TOTAL            680 non-null    float64
 42  TOTAL CASES CONFIRMED(B/S & RDT)    680 non-null    float64
 43  0-28 DAYS FEMALE CT                 680 non-null    float64
 44  0-28 DAYS MALE CT                   680 non-null    float64
 45  0-28 DAYS TOTAL CT                  680 non-null    float64
 46  10-19 YRS FEMALE CT                 680 non-null    float64
 47  10-19 YRS MALE CT                   680 non-null    float64
 48  10-19 YRS CT TOTAL                  680 non-null    float64
 49  20 + YRS FEMALE CT                  680 non-null    float64
 50  20 + YRS MALE CT                    680 non-null    float64
 51  20 + YRS CT TOTAL                   680 non-null    float64
 52  29DAYS - 4YRS FEMALE CT             680 non-null    float64
 53  29 DAYS - 4YRS MALE CT              680 non-null    float64
 54  29 DAYS - 4YRS CT TOTAL             680 non-null    float64
 55  5-9YRS FEMALE CT                    680 non-null    float64
 56  5-9YRS MALE CT                      680 non-null    float64
 57  5-9YRS CT TOTAL                     680 non-null    float64
 58  PREG 10-19YRS                       680 non-null    float64
 59  PREG 20 + YRS                       680 non-null    float64
 60  TOTAL PREG                          680 non-null    float64
 61  TOTAL CASES FEMALE                  680 non-null    float64
 62  TOTAL CASES MALE                    680 non-null    float64
 63  GRAND TOTAL CASES                   680 non-null    float64
 64  <5YRS FEMALES TOTAL                 680 non-null    float64
 65  <5YRS MALE TOTAL                    680 non-null    float64
 66  < 5YRS GRAND TOTAL                  680 non-null    float64
 67  AREA(Km2)                           680 non-null    float64
 68  TOTAL POPULATION                    680 non-null    float64
 69  POPULATION DENSITY(People per km2)  680 non-null    float64
 70  CORDINATES (LATITUDE 째 N)           680 non-null    float64
 71  CORDINATES (LONGITUDE 째 E)          680 non-null    float64
 72  Incidence_Rate                      680 non-null    float64
 73  DIST_NORM                           680 non-null    object
 74  local_I                             680 non-null    float64
 75  local_z                             680 non-null    float64
 76  local_p                             680 non-null    float64
 77  lisa_q                              680 non-null    int64
 78  lisa_sig                            680 non-null    bool
 79  G_z                                 680 non-null    float64
 80  G_p                                 680 non-null    float64
 81  G_hot                               680 non-null    bool
 82  G_cold                              680 non-null    bool
 83  Year                                680 non-null    int64
dtypes: bool(3), float64(67), int64(2), object(12)
memory usage: 432.4+ KB

In [8]:
spatial_df.shape

(680, 88)

### Merging Misfit  Columns
- 10-19YRS TOTAL
- 29DAYS-4YRS MALE
- 10-19 YRS FEMALE (B/S & RDT)
- 20+ (B/S &RDT) MALE

In [14]:
# Dictionary of columns that should be merged
# Dictionary of columns that should be merged
merge_map = {
    "20+ (B/S &RDT) MALE": "20+ (B/S & RDT) MALE",
    "29DAYS-4YRS MALE": "29DAYS - 4YRS MALE",
    "10-19 YRS TOTAL": "10-19YRS TOTAL",
    "10-19 YRS FEMALE (B/S $ RDT )": "10-19 YRS (B/S & RDT) FEMALE"
}

for bad_col, good_col in merge_map.items():
    if bad_col in spatial_df.columns and good_col in spatial_df.columns:
        # Merge values where good_col is missing
        spatial_df[good_col] = spatial_df[good_col].fillna(spatial_df[bad_col])
        # Drop the redundant col
        spatial_df = spatial_df.drop(columns=[bad_col])

In [19]:
spatial_df.to_csv("spatial_file.csv", index = "False")

In [20]:
os.getcwd()

'C:\\Windows\\system32\\1033\\MALARIA EDA'