In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("1033/MALARIA EDA/Malaria data/Malaria data 2020.csv")

In [4]:
import os

In [5]:
os.getcwd()

'C:\\Windows\\system32\\1033\\MALARIA EDA\\Malaria data'

In [6]:
import glob

In [7]:
glob.glob('C:\\Windows\\system32\\1033\\MALARIA EDA\\Malaria data/Malaria data 2020.csv')

['C:\\Windows\\system32\\1033\\MALARIA EDA\\Malaria data/Malaria data 2020.csv']

In [8]:
all_files = glob.glob('C:\\Windows\\system32\\1033\\MALARIA EDA\\Malaria data/Malaria data 2020.csv')

In [9]:
dfs = []
for file in all_files:
    df = pd.read_csv(file)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 65 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Region                              161 non-null    object
 1   District                            161 non-null    object
 2    0-28 DAYS FEMALE                   161 non-null    int64
 3   0-28 DAYS MALE                      161 non-null    int64
 4   0-28 DAYS TOTAL                     161 non-null    int64
 5   10-19 YEARS FEMALE                  161 non-null    int64
 6   10-19 YEARS MALE                    161 non-null    int64
 7   10-19YRS TOTAL                      161 non-null    int64
 8   20+ YRS FEMALE                      161 non-null    int64
 9   20+ YRS MALE                        161 non-null    int64
 10  20+ YRS TOTAL                       161 non-null    int64
 11  5-9YRS FEMALE                       161 non-null    int64
 12  5-9YRS MALE                         161 non-null    int64
 13  5-9YRS TOTAL                        161 non-null    int64
 14  29 DAYS-4YRS FEMALE                 161 non-null    int64
 15  29DAYS - 4YRS MALE                  161 non-null    int64
 16  29 DAYS - 4YRS TOTAL                161 non-null    int64
 17  0-28 DAYS (B/S & RDT) FEMALE        161 non-null    int64
 18  0-28 DAYS (B/S & RDT) MALE          161 non-null    int64
 19  0-28 DAYS  (B/S & RDT) TOTAL        161 non-null    int64
 20  10-19 YRS (B/S & RDT) FEMALE        161 non-null    int64
 21  10-19 YRS (B/S & RDT) MALE          161 non-null    int64
 22  10-19 YRS  (B/S & RDT) TOTAL        161 non-null    int64
 23  20+  (B/S &RDT) FEMALE              161 non-null    int64
 24   20+ (B/S & RDT) MALE               161 non-null    int64
 25  20 + (B/S & RDT) TOTAL              161 non-null    int64
 26  29DAYS-4YRS (B/S & RDT) FEMALE      161 non-null    int64
 27  29DAYS-4YRS (B/S & RDT) MALE        161 non-null    int64
 28  29DAYS-4 YRS  (B/S & RDT) TOTAL     161 non-null    int64
 29  5-9YRS (B/S & RDT) FEMALE           161 non-null    int64
 30  5-9YRS (B/S & RDT) MALE             161 non-null    int64
 31  5-9YRS (B/S & RDT) TOTAL            161 non-null    int64
 32  TOTAL CASES CONFIRMED(B/S & RDT)    161 non-null    int64
 33  0-28 DAYS FEMALE CT                 161 non-null    int64
 34  0-28 DAYS MALE  CT                  161 non-null    int64
 35  0-28 DAYS TOTAL CT                  161 non-null    int64
 36  10-19 YRS FEMALE CT                 161 non-null    int64
 37  10-19 YRS MALE  CT                  161 non-null    int64
 38  10-19 YRS CT TOTAL                  161 non-null    int64
 39  20 + YRS FEMALE CT                  161 non-null    int64
 40  20 + YRS  MALE CT                   161 non-null    int64
 41  20 + YRS CT TOTAL                   161 non-null    int64
 42  29DAYS - 4YRS FEMALE CT             161 non-null    int64
 43  29 DAYS - 4YRS MALE CT              161 non-null    int64
 44  29 DAYS - 4YRS  CT TOTAL            161 non-null    int64
 45  5-9YRS FEMALE CT                    161 non-null    int64
 46  5-9YRS MALE CT                      161 non-null    int64
 47  5-9YRS CT TOTAL                     161 non-null    int64
 48  PREG 10-19YRS                       161 non-null    int64
 49  PREG 20 + YRS                       161 non-null    int64
 50  TOTAL PREG                          160 non-null    float64
 51  TOTAL CASES  FEMALE                 161 non-null    int64
 52  TOTAL CASES  MALE                   161 non-null    int64
 53  GRAND TOTAL CASES                   161 non-null    int64
 54  <5YRS FEMALES TOTAL                 161 non-null    int64
 55  <5YRS MALE TOTAL                    161 non-null    int64
 56  < 5YRS GRAND TOTAL                  161 non-null    int64
 57  POPULATION IN 2014                  159 non-null    float64
 58  POPULATION IN 2024                  159 non-null    float64
 59  AREA(Km2)                           159 non-null    float64
 60  ANNUAL GROWTH RATE[Pt​=P0​×(1+r)t]  161 non-null    object
 61  TOTAL POPULATION                    161 non-null    object
 62  POPULATION DENSITY(People per km2)  161 non-null    object
 63  CORDINATES (LATITUDE ° N)           147 non-null    float64
 64  CORDINATES (LONGITUDE ° E)          147 non-null    object
dtypes: float64(5), int64(54), object(6)
memory usage: 81.9+ KB

In [15]:
df.columns = df.columns.str.strip()

In [19]:
df1 = df.copy()

In [20]:
column_name = "TOTAL CASES CONFIRMED(B/S & RDT)"

In [21]:
total_confirmed_cases = df1[column_name].sum()

In [22]:
print(f"Total_cases_confirmed: {total_confirmed_cases}")

Total_cases_confirmed: 26652020